/* css/ui/miner_tabs/buildings_tab.css */
.buildings-tab {
  display: none;
}

.buildings-tab.is-active {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buildings-tab .shop-scroller {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buildings-tab .shop-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: clamp(8px, 4vw, 32px);
  padding: 16px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* Default fallback */
.buildings-tab {
  --shop-tile: clamp(60px, 20vmin, 140px);
}
.buildings-tab .shop-grid {
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(4, min-content);
}
.buildings-tab .shop-upgrade {
  width: var(--shop-tile);
  height: var(--shop-tile);
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buildings-tab .shop-tile {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buildings-tab .shop-upgrade .shop-tile img.base,
.buildings-tab .shop-upgrade .shop-tile img.icon {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.buildings-tab .shop-tile img.base {
  width: 100%;
  height: 100%;
}
.buildings-tab .shop-tile img.icon {
  width: 50%;
  height: 50%;
}

/* Layouts based on aspect ratio */
/* Extremely tall screens: 2x6 grid */
@media (max-aspect-ratio: 1/2) {
  .buildings-tab {
    --shop-tile: calc(min(50vw - 32px, 16.66vh - 32px));
  }
  .buildings-tab .shop-grid {
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(6, min-content);
  }
}

/* Tall screens: 3x4 grid */
@media (min-aspect-ratio: 1/2) and (max-aspect-ratio: 1/1) {
  .buildings-tab {
    --shop-tile: calc(min(33.33vw - 32px, 25vh - 32px));
  }
  .buildings-tab .shop-grid {
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(4, min-content);
  }
}

/* Wide screens: 4x3 grid */
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 2/1) {
  .buildings-tab {
    --shop-tile: calc(min(25vw - 32px, 33.33vh - 32px));
  }
  .buildings-tab .shop-grid {
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: repeat(3, min-content);
  }
}

/* Extremely wide screens: 6x2 grid */
@media (min-aspect-ratio: 2/1) {
  .buildings-tab {
    --shop-tile: calc(min(16.66vw - 32px, 50vh - 32px));
  }
  .buildings-tab .shop-grid {
    grid-template-columns: repeat(6, min-content);
    grid-template-rows: repeat(2, min-content);
  }
}
